.Separa{
    width: 100%;
    height: 100px;
}
.slotr{
    width: 80%;
    padding-top: 8.24%;
    padding-right: 20%;
}
.divregr{
    width: fit-content;
    position: relative;
}
.imgr{
    width: 40%;
    position: absolute;
    top: 35%;
    left: 5%;

}
